.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.pie{
  width: 100%;
  height: 40px;
  text-align: center;
  border-top: 1px solid #E5E5E5;
  color:#CCC;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.pie span{
  line-height: 35px;
}

.extraPie{
  width: 100%;
  height: 40px;
  //background-color: red;
}

.color1{
  background-color: red;
}

.table-curved {
   border-collapse: separate;
   border: solid #ddd 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ddd 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.table-curved > :first-child > :first-child > :first-child {
    border-top-left-radius: 6px;
}
.table-curved > :first-child > :first-child > :last-child {
    border-top-right-radius: 6px;
}
.table-curved > :last-child > :last-child > :first-child {
    border-bottom-left-radius: 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-bottom-right-radius: 6px;
}

.ng-leave {
  transition:0.3s linear all;
  opacity:1;
}
.ng-leave.ng-leave-active {
  opacity:0;
}

.ng-enter {
  transition:0.3s linear all 0.4s;
  opacity:0;
}
.ng-enter.ng-enter-active {
  opacity:1;
}

#map { 
    height: 400px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}

.divisor{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  width: 100%;
  height: 40px;
  margin-top:5px;
  margin-bottom: 10px;
  line-height: 38px;
  color: silver;
}

.imagen{
  padding: 5px;
  float: left;
  box-sizing :border-box;
  -o-box-sizing :border-box;
  -ms-box-sizing :border-box;
  -moz-box-sizing :border-box;
  -webkit-box-sizing : border-box;
}
.imagenDatos{
  margin-left: 15px;
  float: left;
  
}

.containerViews{
  width: 90%;
  margin: 0 auto;
}

.nav li:hover {
  background-color: #e7e7e7;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
