<div class="modal-header">
	<h2>Edit</h2>
	<p>Edit the information user</p>
	<p class="message" ng-show="message">{{ message }}</p>
</div>
<div class="modal-body">
	<form name="myform"
		ng-submit="update(user)"
		novalidate>
		
		<div class="form-group has-feedback" ng-class="{'has-error':myform.firstname.$dirty && myform.firstname.$invalid, 'has-success':myform.firstname.$valid && myform.firstname.$dirty}">
			<input type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" required class="form-control"
			ng-change="user.$save()"
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.firstname.$dirty && myform.firstname.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.firstname.$valid && myform.firstname.$dirty"></span>
		</div>
		
		<div class="form-group has-feedback" ng-class="{'has-error':myform.lastname.$dirty && myform.lastname.$invalid, 'has-success':myform.lastname.$valid && myform.lastname.$dirty}">
			<input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname" required class="form-control"
			ng-change="user.$save()"
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.lastname.$dirty && myform.lastname.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.lastname.$valid && myform.lastname.$dirty"></span>
		</div>
		
		<div class="form-group">
			<select class="form-control"
			ng-model="user.nivel"
			ng-change="user.$save()"
			>
			   <option>1</option>
			   <option>2</option>
			   <option>3</option>
			</select>
		</div>

		<div class="form-group has-feedback" ng-class="{'has-error':myform.email.$dirty && myform.email.$invalid, 'has-success':myform.email.$valid && myform.email.$dirty}">
			<input type="email" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="user.email" required disabled
			ng-change="user.$save()"
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.email.$dirty && myform.email.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.email.$valid && myform.email.$dirty"></span>
		</div>

		<div class="form-group">
			<select class="form-control"
			ng-model="user.status"
			ng-change="user.$save()"
			>
			    <option value="0">not active</option>
			    <option value="1">active</option>
			</select>
		</div>
	</form>
</div>
<div class="modal-footer">
    
    <button  class="btn btn-primary btn-block"
    	ng-click="cancel()">Close
    </button>
</div>