<div class="modal-header">
	<h2>Edit</h2>
	<p>Edit the information client</p>
	<p class="message" ng-show="message">{{ message }}</p>
</div>
<div class="modal-body">
	<form name="myform"
		novalidate>

		<div class="form-group has-feedback" ng-class="{'has-error':myform.email.$dirty && myform.email.$invalid, 'has-success':myform.email.$valid && myform.email.$dirty}">
			<input type="email" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="client.email" required
			disabled/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.email.$dirty && myform.email.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.email.$valid && myform.email.$dirty"></span>
		</div>
		
		<div class="form-group has-feedback" ng-class="{'has-error':myform.firstname.$dirty && myform.firstname.$invalid, 'has-success':myform.firstname.$valid && myform.firstname.$dirty}">
			<input type="text" name="firstname" placeholder="First Name" ng-model="client.firstname" required class="form-control"
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.firstname.$dirty && myform.firstname.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.firstname.$valid && myform.firstname.$dirty"></span>
		</div>
		
		<div class="form-group has-feedback" ng-class="{'has-error':myform.lastname.$dirty && myform.lastname.$invalid, 'has-success':myform.lastname.$valid && myform.lastname.$dirty}">
			<input type="text" name="lastname" placeholder="Last Name" ng-model="client.lastname" required class="form-control"
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.lastname.$dirty && myform.lastname.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.lastname.$valid && myform.lastname.$dirty"></span>
		</div>

		<div class="form-group has-feedback" ng-class="{'has-error':myform.bolicheName.$dirty && myform.bolicheName.$invalid, 'has-success':myform.bolicheName.$valid && myform.bolicheName.$dirty}">
			<input type="text" class="form-control" id="bolicheName" name="bolicheName" placeholder="bolicheName" data-ng-model="client.bolicheName" required
			/>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.bolicheName.$dirty && myform.bolicheName.$invalid"></span>
			<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.bolicheName.$valid && myform.bolicheName.$dirty"></span>
		</div>

		<div class="form-group">
	      <label for="place">Search Place</label> 
	      <p class="input-group">
	        <input type="text"
	          placeholder="Search Address"
	          class="form-control"
	          ng-model="searchPlace" />
	        <span class="input-group-btn">
	          <button type="button" class="btn btn-default" 
	          ng-click="search()"
	          ng-disabled="searchForm.$invalid">
	          <i class="glyphicon glyphicon-search"></i></button>
	        </span>
	      </p>
	    </div>
	         
	    <div id="map"></div>

	    <div class="form-group">
	      <label for="address">Address</label> 
	      <input type="text" class="form-control" id="address" name="address" placeholder="Address" data-ng-model="client.address" disabled>
	    </div>

	    <div class="form-group">
	      <label for="latitude">Latitude</label> 
	      <input type="text" class="form-control" id="latitude" name="latitude" placeholder="Latitude" data-ng-model="client.latitude" disabled>
	    </div>

	    <div class="form-group">
	      <label for="longitude">Longitude</label> 
	      <input type="text" class="form-control" id="longitude" name="longitude" placeholder="Longitude" data-ng-model="client.longitude" disabled>
	    </div>
	      
	    <div class="form-group has-feedback">
	      <label for="homePhone">Home Phone</label> 
	      <input type="text" class="form-control" id="homePhone" name="homePhone" placeholder="Home Phone" data-ng-model="client.homePhone">
	    </div>

	    <div class="form-group">
	      <label for="cellPhone">Cell Phone</label> 
	      <input type="text" class="form-control" id="cellPhone" name="cellPhone" placeholder="Cell Phone" data-ng-model="client.cellPhone">
	    </div>

	    <div class="form-group">
	      <label for="music">Music</label>
	      <div class="input-group">
	        <input type="text" class="form-control" id="music" name="music" placeholder="Music" data-ng-model="client.music.a">
	        <span class="input-group-btn" style="top:-1px">
	          <button class="btn btn-default glyphicon glyphicon-plus" type="button"></button>
	        </span>
	      </div>
	    </div>

	    <div class="form-group" ng-show="isEven(myNumber)">
	      <div class="input-group">
	        <input 
	          type="text" 
	          class="form-control" 
	          id="musicMore" 
	          name="musicMore" 
	          placeholder="More Music" 
	          data-ng-model="client.music.b"
	          ng-change="client.$save()"/>
	        <span class="input-group-btn" style="top:-1px">
	          <button class="btn btn-default glyphicon glyphicon-remove btn-danger" type="button" ng-click="addMusic()"></button>
	        </span>
	      </div>
	    </div>   


	    <div class="form-group">
	    	<label for="aniversary">Aniversary</label> 
	    	<input type="text" id="aniversary" name="aniversary"
	    	placeholder="dd/mm/yyyy"
	    	class="form-control" 
	    	data-ng-model="client.aniversary">
	    </div>

	    <div class="form-group">
	      <label for="website">Website</label> 
	      <input type="url" class="form-control" id="website" name="website" placeholder="http://example.com" data-ng-model="client.website">
	    </div>


	    <div class="form-group">
	      <label for="logo">logo <small>100x100</small></label> 
	      <div class="input-group">
	        <span class="input-group-btn" style="top:-1px">
	          <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="eliminarArchivo('logo')"></button>
	        </span>
	        <input type="file" id="logo" name="logo" 
	        data-ng-file-model="client.logo"
	        data-iconName="glyphicon glyphicon-inbox" 
	        accept="image/*">
	      </div>
	    </div>

		<div class="panel panel-default">
		    <div class="panel-body">
		    	<img data-ng-src="{{client.logo.data}}" class="img-circle imagen" height="100" width="100" data-ng-model="client.logo">
		    	<div class="imagenDatos">
	        		<h3>{{client.logo.name}}</h3>
	        		<p>{{client.logoText}}</p>
	      		</div>
		    </div>
	    </div>
	    
	    <div class="form-group">
	      <label for="logotext">logotext</label> 
	      <input class="form-control" id="logotext" name="logotext" placeholder="logotext" data-ng-model="client.logoText">
	    </div>

	    
	    <div class="form-group">
	      <label for="imagen">imagen <small>400x600</small></label> 
	      <div class="input-group">
	        <span class="input-group-btn" style="top:-1px">
	          <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="eliminarArchivo('image')"></button>
	        </span>
	        <input type="file" id="image" name="image" data-ng-file-model="client.image" 
	        data-iconName="glyphicon glyphicon-inbox" accept="image/*">
	      </div>
	    </div>

	    <div class="row">
		  <div class="col-md-8">
		    <div class="thumbnail">
		      <img data-ng-src="{{client.image.data}}">
		      <div class="caption">
		        <h3>{{client.image.name}}</h3>
		        <p>{{client.imageText}}</p>
		      </div>
		    </div>
		  </div>
		</div>


	    <div class="form-group">
	      <label for="imagenText">imagenText</label> 
	      <textarea type="text" class="form-control" id="imagenText" name="imagenText" placeholder="imagenText" rows="3" data-ng-model="client.imageText"></textarea>
	    </div>

	    <div class="form-group">
			<select class="form-control"
			ng-model="client.status"
			ng-change="client.$save()"
			>
			    <option value="0">not active</option>
			    <option value="1">active</option>
			</select>
		</div>

	</form>
	<button class="btn btn-primary btn-block" ng-click="client.$save()">Save</button>
</div>
<div class="modal-footer">
    
    <button  class="btn btn-primary btn-block"
    	ng-click="cancel()">Close
    </button>
</div>