<section class="container">
	<div class="jumbotron">
	  	<form name="myformlogin"
	        ng-submit="userLogin()"
	        novalidate>

		    <div class="textintro">
		    	<!-- <img src="/images/logoSolo.png" alt="Logo"> -->
		        <h1>Login!</h1>
		        <p>Log-in to access the administrator!</p>
		        <p class="message" 
		           ng-show="message"> {{ message }}</p>
		    </div>

			<div class="form-group has-feedback" ng-class="{'has-error':myformlogin.email.$dirty && myformlogin.email.$invalid, 'has-success':myformlogin.email.$valid && myformlogin.email.$dirty}">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="user.email" required>
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myformlogin.email.$dirty && myformlogin.email.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myformlogin.email.$valid && myformlogin.email.$dirty"></span>
			</div>

			<div class="form-group">
				<input type="password" name="password" placeholder="Password" class="form-control"
				ng-model="user.password" required>
				<p class="error validationerror"
				ng-show="myformlogin.password.$invalid && myformlogin.email.$touched">
				Password is required</p>
			</div>
		    <div class="form-group">
			    <button type="submit" class="btn btn-save btn-primary btn-block"
			    	ng-disabled="myformlogin.$invalid">Login
			    </button>
		    </div>

	  	</form>
  	</div>
</section>
