<div class="navbar navbar-default" role="navigation" ng-show="currentUser">
  <div class="container-fluid">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
       
      </button>
      <!-- <img src="/images/logoCompleto.png" alt="logo" height="50"> -->
      <strong class="navbar-brand">banightonAdmin</strong>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <ul class="nav navbar-nav">
        
        <li ng-class="{ active: PAGE === 'clients'}"><a ng-href="#/clients">Clients</a></li>
        <li ng-class="{ active: PAGE === 'users'}"><a ng-href="#/users">Users</a></li>
        <li ng-class="{ active: PAGE === 'delete'}"><a ng-href="#/delete">Delete</a></li>
      </ul>
      <div ng-controller="LoginCtrl"  class="nav pull-right">
        <span class="navbar-brand">{{currentUser.user.firstname}}</span>
        <button type="button" class="navbar-brand btn btn-link glyphicon glyphicon-log-out" ng-click="userLogout()"></button>
      </div>
      
    </div>

  </div>
</div>