<section class="container">
	<div class="row">
		<form name="myform"
			ng-submit="register()"
			novalidate>

			<div class="textintro">
				<h2>Register</h2>
				<p>To access site features</p>
				<p class="message" ng-show="message">{{ message }}</p>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error':myform.firstname.$dirty && myform.firstname.$invalid, 'has-success':myform.firstname.$valid && myform.firstname.$dirty}">
				<input type="text" name="firstname" placeholder="First Name" ng-model="user.firstname" required class="form-control">
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.firstname.$dirty && myform.firstname.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.firstname.$valid && myform.firstname.$dirty"></span>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error':myform.lastname.$dirty && myform.lastname.$invalid, 'has-success':myform.lastname.$valid && myform.lastname.$dirty}">
				<input type="text" name="lastname" placeholder="Last Name" ng-model="user.lastname" required class="form-control">
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.lastname.$dirty && myform.lastname.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.lastname.$valid && myform.lastname.$dirty"></span>
			</div>
			
			<div class="form-group has-feedback" ng-class="{'has-error':myform.nivel.$dirty && myform.nivel.$invalid, 'has-success':myform.nivel.$valid && myform.nivel.$dirty}">
				<input type="text" name="nivel" placeholder="Nivel" ng-model="user.nivel" required class="form-control">
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.nivel.$dirty && myform.nivel.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.nivel.$valid && myform.nivel.$dirty"></span>
			</div>
			

			<div class="form-group has-feedback" ng-class="{'has-error':myform.email.$dirty && myform.email.$invalid, 'has-success':myform.email.$valid && myform.email.$dirty}">
				<input type="email" class="form-control" id="email" name="email" placeholder="Email" data-ng-model="user.email" required>
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.email.$dirty && myform.email.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.email.$valid && myform.email.$dirty"></span>
			</div>

			<div class="form-group has-feedback" ng-class="{'has-error':myform.password.$dirty && myform.password.$invalid, 'has-success':myform.password.$valid && myform.password.$dirty}">
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
				<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="myform.password.$dirty && myform.password.$invalid"></span>
				<span class="glyphicon glyphicon glyphicon-ok form-control-feedback" ng-show="myform.password.$valid && myform.password.$dirty"></span>
			</div>

		    <div class="form-group">
			    <button type="submit" class="btn btn-save btn-primary btn-block"
			    	ng-disabled="myform.$invalid">Register
			    </button>
		    </div>

			
		</form>
	</div>
</section>