<div class="containerViews">
	<div ng-show="dataLoading" class="alert alert-info">
     
        <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
  	</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand">Users</a>
			</div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search"
						ng-model="searchText">
					</div>
					<button  ng-click="modal('newUser')" class="btn btn-success glyphicon fa fa-user-plus" style="padding:9px"></button>
					
				</form>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	<table class="table table-striped table-curved">
		<thead>
			<tr>
				<th>#</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter:searchText | orderBy:'user.firstname' | paginate:(currentPage-1)* pageSize | limitTo:pageSize">
				<th>{{ $index }}</th>
				<td>{{ user.user.firstname }}</td>
				<td>{{ user.user.lastname }}</td>
				<td>{{ user.user.email }}</td>
				<td>
					<span ng-show="user.user.status === '1'" class="label label-success">active</span>
					<span ng-show="user.user.status === '0'" class="label label-default">not active</span>
				</td>
				<th>
					<a ng-click="modal('editUser','{{ user.user.regUser }}')" class="btn btn-sm text-primary fa fa-pencil-square-o fa-2x" style="padding:0 0 0 5px; margin:0"></a>
				</th>
				<th>
					<a ng-click="modal('activeUser','{{ user.user.regUser }}','sm')" class="btn text-warning fa fa-ban fa-2x" style="padding:0 0 0 5px; margin:0"></a>
				</th>
			</tr>
		</tbody>
	</table>
	

	<uib-pagination total-items="users.length" ng-model="currentPage" max-size="pageSize" class="pagination-sm" boundary-links="true" items-per-page="pageSize"></uib-pagination>

</div>